# Data Cleaning- Expriment-2

### Import

In [1]:
import pandas as pd
from tqdm import tqdm
import json
import re
import random
from pathlib import Path
from pandas.io.json import json_normalize

In [2]:
# _df=pd.read_json("Data/abcd_v1_1.json","r",encoding = "utf8",lines=True)
# _df=pd.read_json(open("Data/abcd_v1.1.json", "r"),encoding="utf8",lines=True)
_df=pd.read_json("Data/abcd_v1.1.json","r",encoding = "utf8",lines=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Starting with pandas version 2.0 all arguments of read_json except for the argument 'path_or_buf' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
_df

,train,dev,test
0,"[{'convo_id': 3592, 'scenario': {'personal': {...","[{'convo_id': 3532, 'scenario': {'personal': {...","[{'convo_id': 4989, 'scenario': {'personal': {..."

In [5]:
_df['train'].head(1)

0    [{'convo_id': 3592, 'scenario': {'personal': {...
Name: train, dtype: object

In [6]:
df = pd.DataFrame(_df['train'][0])

In [7]:
df

,convo_id,scenario,original,delexed
0,3592,"{'personal': {'customer_name': 'crystal minh',...","[[agent, Hi!], [agent, How can I help you?], [...","[{'speaker': 'agent', 'text': 'hi!', 'turn_cou..."
1,9489,{'personal': {'customer_name': 'alessandro pho...,"[[agent, good afternoon, how can I help you?],...","[{'speaker': 'agent', 'text': 'good afternoon,..."
2,3695,"{'personal': {'customer_name': 'joyce wu', 'me...","[[customer, HEY HO!], [agent, good afternoon, ...","[{'speaker': 'customer', 'text': 'hey ho!', 't..."
3,5798,"{'personal': {'account_id': 'xjiw8ufp3b', 'cus...","[[agent, Welcome to AcmeBrands! How can I help...","[{'speaker': 'agent', 'text': 'welcome to acme..."
4,3647,{'personal': {'customer_name': 'norman bouchar...,"[[agent, Hello, how can i help you], [customer...","[{'speaker': 'agent', 'text': 'hello, how can ..."
...,...,...,...,...
8029,2229,"{'personal': {'customer_name': 'chloe zhang', ...","[[agent, Welcome to AcmeBrands. How may I help...","[{'speaker': 'agent', 'text': 'welcome to acme..."
8030,6109,"{'personal': {'customer_name': 'crystal minh',...","[[agent, Hello, how can I help you today?], [c...","[{'speaker': 'agent', 'text': 'hello, how can ..."
8031,9892,"{'personal': {'customer_name': 'crystal minh',...","[[agent, Hello, how may I help you?], [custome...","[{'speaker': 'agent', 'text': 'hello, how may ..."
8032,4036,"{'personal': {'customer_name': 'chloe zhang', ...","[[customer, Hi], [agent, Hello, what can I do ...","[{'speaker': 'customer', 'text': 'hi', 'turn_c..."
8033,5882,{'personal': {'customer_name': 'david williams...,"[[agent, how may i help you], [customer, Hello...","[{'speaker': 'agent', 'text': 'how may i help ..."

In [8]:
df

,convo_id,scenario,original,delexed
0,3592,"{'personal': {'customer_name': 'crystal minh',...","[[agent, Hi!], [agent, How can I help you?], [...","[{'speaker': 'agent', 'text': 'hi!', 'turn_cou..."
1,9489,{'personal': {'customer_name': 'alessandro pho...,"[[agent, good afternoon, how can I help you?],...","[{'speaker': 'agent', 'text': 'good afternoon,..."
2,3695,"{'personal': {'customer_name': 'joyce wu', 'me...","[[customer, HEY HO!], [agent, good afternoon, ...","[{'speaker': 'customer', 'text': 'hey ho!', 't..."
3,5798,"{'personal': {'account_id': 'xjiw8ufp3b', 'cus...","[[agent, Welcome to AcmeBrands! How can I help...","[{'speaker': 'agent', 'text': 'welcome to acme..."
4,3647,{'personal': {'customer_name': 'norman bouchar...,"[[agent, Hello, how can i help you], [customer...","[{'speaker': 'agent', 'text': 'hello, how can ..."
...,...,...,...,...
8029,2229,"{'personal': {'customer_name': 'chloe zhang', ...","[[agent, Welcome to AcmeBrands. How may I help...","[{'speaker': 'agent', 'text': 'welcome to acme..."
8030,6109,"{'personal': {'customer_name': 'crystal minh',...","[[agent, Hello, how can I help you today?], [c...","[{'speaker': 'agent', 'text': 'hello, how can ..."
8031,9892,"{'personal': {'customer_name': 'crystal minh',...","[[agent, Hello, how may I help you?], [custome...","[{'speaker': 'agent', 'text': 'hello, how may ..."
8032,4036,"{'personal': {'customer_name': 'chloe zhang', ...","[[customer, Hi], [agent, Hello, what can I do ...","[{'speaker': 'customer', 'text': 'hi', 'turn_c..."
8033,5882,{'personal': {'customer_name': 'david williams...,"[[agent, how may i help you], [customer, Hello...","[{'speaker': 'agent', 'text': 'how may i help ..."

In [12]:
row,col = df.shape

In [13]:
row

8034

In [14]:
row,col = df.shape
role_list= list()
text_list= list()
conv_id = list()
time = list()
count=0
for i in range(row):
    # print(df_new["original"][i])
    # print("/n")
    
    _temp = df["original"][i]
    # print(type(_temp))
    count
    for j in range(len(_temp)):
    
        role = _temp[j][0]
        text = _temp[j][1]
        Timestamp = random.randint(1000000, 8000000)
        # print(role," : ", text)
        role_list.append(role)
        text_list.append(text)
        conv_id.append(count)
        time.append(Timestamp)
    count+=1
    df_1 = pd.DataFrame()
    # df_1.columns = ['text']
    df_1=df_1.assign(role=role_list, text=text_list,Count_id = conv_id, Time=time)
    # df_1=df_1.assign(Count_id=conv_id)
    # df_1 = df_1.assign(Time = time)
    # df_1.set_index('Count_id', inplace=True)
print(df_1)
    # print(text_list)
    # print(conv_id)

            role                                               text  Count_id  \
0          agent                                                Hi!         0
1          agent                                How can I help you?         0
2       customer  Hi! I need to return an item, can you help me ...         0
3          agent                 sure, may I have your name please?         0
4       customer                                       Crystal Minh         0
...          ...                                                ...       ...
176429  customer                   Ok that seemed to be the problem      8033
176430  customer                                          Thank you      8033
176431     agent       is there anything else i can help with today      8033
176432  customer                                        that is all      8033
176433     agent                                    have a good one      8033

           Time
0       5923342
1       1259546
2       3080029
3       6838415
4       3657843
...         ...
176429  2279285
176430  3615355
176431  5132691
176432  2168159
176433  6052352

[176434 rows x 4 columns]

In [16]:
df_1

,role,text,Count_id,Time
0,agent,Hi!,0,5923342
1,agent,How can I help you?,0,1259546
2,customer,"Hi! I need to return an item, can you help me ...",0,3080029
3,agent,"sure, may I have your name please?",0,6838415
4,customer,Crystal Minh,0,3657843
...,...,...,...,...
176429,customer,Ok that seemed to be the problem,8033,2279285
176430,customer,Thank you,8033,3615355
176431,agent,is there anything else i can help with today,8033,5132691
176432,customer,that is all,8033,2168159
176433,agent,have a good one,8033,6052352

In [22]:
df.columns

Index(['convo_id', 'scenario', 'original', 'delexed'], dtype='object')

In [24]:
df_1["role"].unique()

array(['agent', 'customer', 'action'], dtype=object)

In [25]:
lt = df_1.index[df_1['role']=='action'].tolist()

In [26]:
lt

[6,
 12,
 22,
 23,
 34,
 40,
 63,
 64,
 65,
 80,
 83,
 86,
 90,
 98,
 99,
 109,
 126,
 129,
 132,
 135,
 136,
 147,
 150,
 153,
 168,
 169,
 170,
 171,
 172,
 173,
 177,
 180,
 191,
 197,
 200,
 203,
 209,
 221,
 228,
 237,
 244,
 245,
 250,
 262,
 265,
 276,
 283,
 288,
 291,
 306,
 307,
 308,
 320,
 324,
 328,
 341,
 343,
 344,
 359,
 365,
 368,
 373,
 388,
 389,
 390,
 406,
 409,
 411,
 414,
 421,
 426,
 429,
 432,
 435,
 438,
 451,
 457,
 459,
 462,
 470,
 476,
 479,
 480,
 492,
 500,
 503,
 505,
 517,
 522,
 529,
 533,
 537,
 538,
 543,
 554,
 556,
 576,
 582,
 586,
 589,
 597,
 599,
 602,
 617,
 620,
 625,
 637,
 648,
 655,
 659,
 668,
 669,
 685,
 686,
 698,
 707,
 710,
 719,
 720,
 721,
 735,
 737,
 742,
 754,
 758,
 770,
 771,
 772,
 783,
 788,
 791,
 803,
 808,
 813,
 822,
 823,
 835,
 840,
 842,
 853,
 856,
 863,
 864,
 878,
 880,
 883,
 885,
 896,
 898,
 913,
 917,
 918,
 924,
 938,
 943,
 946,
 958,
 963,
 971,
 979,
 985,
 996,
 998,
 1008,
 1009,
 1010,
 1021,
 1025,
 1029,
 1045,
 1051,
 1054,
 1061,
 1069,
 1076,
 1077,
 1081,
 1088,
 1102,
 1105,
 1109,
 1115,
 1116,
 1118,
 1126,
 1137,
 1142,
 1153,
 1155,
 1162,
 1180,
 1183,
 1187,
 1195,
 1198,
 1207,
 1213,
 1221,
 1222,
 1230,
 1237,
 1239,
 1242,
 1252,
 1253,
 1254,
 1272,
 1283,
 1285,
 1286,
 1300,
 1301,
 1302,
 1307,
 1322,
 1329,
 1338,
 1340,
 1342,
 1347,
 1366,
 1371,
 1372,
 1373,
 1376,
 1377,
 1378,
 1380,
 1381,
 1382,
 1383,
 1384,
 1391,
 1399,
 1406,
 1411,
 1422,
 1425,
 1445,
 1446,
 1448,
 1450,
 1451,
 1465,
 1466,
 1467,
 1492,
 1493,
 1494,
 1495,
 1501,
 1502,
 1503,
 1511,
 1534,
 1543,
 1545,
 1547,
 1563,
 1569,
 1578,
 1579,
 1580,
 1594,
 1597,
 1600,
 1603,
 1620,
 1621,
 1624,
 1626,
 1630,
 1647,
 1650,
 1653,
 1660,
 1661,
 1672,
 1678,
 1680,
 1686,
 1710,
 1723,
 1724,
 1729,
 1745,
 1750,
 1761,
 1762,
 1767,
 1772,
 1773,
 1781,
 1785,
 1786,
 1792,
 1800,
 1818,
 1819,
 1825,
 1828,
 1844,
 1850,
 1854,
 1868,
 1872,
 1875,
 1886,
 1887,
 1897,
 1898,
 1900,
 1906,
 1916,
 1917,
 1918,
 1930,
 1936,
 1939,
 1942,
 1951,
 1954,
 1958,
 1969,
 1974,
 1989,
 1995,
 1997,
 2004,
 2024,
 2025,
 2028,
 2042,
 2046,
 2055,
 2060,
 2063,
 2071,
 2085,
 2092,
 2111,
 2113,
 2130,
 2135,
 2138,
 2141,
 2147,
 2158,
 2170,
 2186,
 2187,
 2192,
 2197,
 2198,
 2203,
 2222,
 2226,
 2227,
 2235,
 2236,
 2247,
 2251,
 2252,
 2262,
 2268,
 2272,
 2283,
 2284,
 2285,
 2286,
 2300,
 2301,
 2323,
 2324,
 2325,
 2331,
 2333,
 2334,
 2356,
 2360,
 2361,
 2366,
 2375,
 2376,
 2379,
 2381,
 2383,
 2385,
 2399,
 2401,
 2412,
 2420,
 2425,
 2428,
 2431,
 2436,
 2444,
 2447,
 2450,
 2463,
 2467,
 2472,
 2473,
 2486,
 2490,
 2505,
 2506,
 2510,
 2520,
 2535,
 2540,
 2544,
 2550,
 2555,
 2567,
 2573,
 2576,
 2579,
 2596,
 2597,
 2600,
 2611,
 2616,
 2631,
 2632,
 2633,
 2650,
 2658,
 2682,
 2683,
 2690,
 2695,
 2696,
 2707,
 2714,
 2715,
 2725,
 2729,
 2738,
 2749,
 2750,
 2753,
 2764,
 2769,
 2774,
 2777,
 2778,
 2789,
 2793,
 2800,
 2805,
 2814,
 2822,
 2825,
 2840,
 2842,
 2845,
 2849,
 2861,
 2865,
 2870,
 2886,
 2887,
 2903,
 2910,
 2915,
 2918,
 2924,
 2925,
 2926,
 2927,
 2930,
 2931,
 2933,
 2942,
 2945,
 2947,
 2955,
 2958,
 2960,
 2968,
 2969,
 2970,
 2983,
 2986,
 2995,
 3009,
 3012,
 3013,
 3016,
 3019,
 3028,
 3030,
 3035,
 3043,
 3050,
 3065,
 3066,
 3069,
 3074,
 3083,
 3084,
 3092,
 3093,
 3101,
 3104,
 3125,
 3130,
 3134,
 3149,
 3153,
 3159,
 3167,
 3170,
 3179,
 3182,
 3185,
 3187,
 3196,
 3199,
 3213,
 3223,
 3224,
 3235,
 3236,
 3237,
 3261,
 3265,
 3268,
 3277,
 3292,
 3295,
 3301,
 3317,
 3318,
 3321,
 3324,
 3330,
 3333,
 3344,
 3349,
 3352,
 3359,
 3368,
 3374,
 3380,
 3387,
 3392,
 3405,
 3408,
 3411,
 3414,
 3423,
 3425,
 3429,
 3437,
 3440,
 3443,
 3445,
 3448,
 3461,
 3466,
 3471,
 3478,
 3490,
 3494,
 3516,
 3521,
 3528,
 3529,
 3532,
 3543,
 3547,
 3549,
 3560,
 3565,
 3569,
 3570,
 3581,
 3586,
 3590,
 3600,
 3603,
 3625,
 3626,
 3628,
 3637,
 3638,
 3652,
 3656,
 3658,
 3674,
 3680,
 3682,
 3710,
 3711,
 3734,
 3740,
 3751,
 3752,
 3758,
 3761,
 3768,
 3769,
 3772,
 3783,
 3787,
 3789,
 3793,
 3811,
 3820,
 3821,
 3822,
 3828,
 3839,
 3845,
 3846,
 3863,
 3865,
 3866,
 3869,
 3888,
 3891,
 3898,
 3901,
 3910,
 3921,
 3922,
 3927,
 3932,
 3941,
 3942,
 3946,
 3961,
 3969,
 3973,
 3974,
 3977,
 3988,
 3994,
 3999,
 4001,
 4016,
 4019,
 4021,
 4036,
 4044,
 4047,
 4055,
 4058,
 4069,
 4075,
 4076,
 4079,
 4090,
 4091,
 4101,
 4105,
 4117,
 4120,
 4121,
 4122,
 4125,
 4136,
 4138,
 4139,
 4152,
 4156,
 4166,
 4167,
 4176,
 4177,
 4178,
 4189,
 4193,
 4196,
 4202,
 4204,
 4214,
 4219,
 4223,
 4231,
 4234,
 4235,
 4245,
 4247,
 4252,
 4263,
 4269,
 4270,
 4271,
 4275,
 4289,
 4292,
 4297,
 4311,
 4316,
 4317,
 4319,
 4321,
 4332,
 4333,
 4334,
 4352,
 4355,
 4360,
 4362,
 4374,
 4376,
 4377,
 4381,
 4396,
 4399,
 4404,
 4408,
 4418,
 4421,
 4426,
 4430,
 4442,
 4445,
 4453,
 4454,
 4457,
 4465,
 4466,
 4478,
 4479,
 4481,
 4493,
 4497,
 4498,
 4503,
 4516,
 4519,
 4525,
 4534,
 4548,
 4555,
 4558,
 4568,
 4571,
 4582,
 4589,
 4592,
 4595,
 4598,
 4617,
 4620,
 4621,
 4630,
 4632,
 4633,
 4650,
 4652,
 4653,
 4669,
 4672,
 4675,
 4678,
 4684,
 4698,
 4699,
 4700,
 4712,
 4716,
 4718,
 4722,
 4724,
 4744,
 4745,
 4747,
 4765,
 4769,
 4770,
 4775,
 4779,
 4790,
 4791,
 4792,
 4801,
 4806,
 4807,
 4808,
 4817,
 4818,
 4819,
 4820,
 4821,
 4834,
 4835,
 4850,
 4852,
 4865,
 4866,
 4867,
 4871,
 4884,
 4886,
 4887,
 4901,
 4902,
 4914,
 4919,
 4924,
 4926,
 4938,
 4940,
 4957,
 4963,
 4964,
 4968,
 4977,
 4979,
 4980,
 4981,
 4982,
 4983,
 4989,
 5000,
 5002,
 5010,
 5012,
 5015,
 5031,
 5034,
 5039,
 5058,
 5063,
 5066,
 5070,
 5071,
 5086,
 5089,
 5094,
 5099,
 5102,
 5112,
 5113,
 5114,
 5133,
 5136,
 5159,
 5162,
 5166,
 5167,
 5181,
 5185,
 5186,
 5194,
 5195,
 5204,
 5205,
 5225,
 5229,
 5230,
 5233,
 5248,
 5256,
 5264,
 5269,
 5272,
 5282,
 5286,
 5292,
 5296,
 5303,
 5306,
 5317,
 5319,
 5331,
 5340,
 5342,
 5347,
 5348,
 5352,
 5355,
 5356,
 5363,
 5364,
 5377,
 5378,
 5382,
 5397,
 5411,
 5418,
 5419,
 5423,
 5424,
 5437,
 5444,
 5445,
 5447,
 5448,
 5458,
 5463,
 5464,
 5465,
 5467,
 5469,
 5480,
 5484,
 5486,
 5488,
 5492,
 5493,
 5498,
 5517,
 5521,
 5524,
 5538,
 5539,
 5550,
 5551,
 5559,
 5568,
 5571,
 5579,
 5584,
 5588,
 5600,
 5605,
 5618,
 5621,
 5630,
 5633,
 5647,
 5652,
 5656,
 5661,
 5668,
 5670,
 5689,
 5692,
 5710,
 5712,
 5715,
 5716,
 5717,
 5718,
 5720,
 5724,
 5739,
 5744,
 5760,
 5765,
 5769,
 5770,
 5784,
 5788,
 5789,
 5794,
 5795,
 5812,
 5815,
 5818,
 5821,
 5841,
 5842,
 5845,
 5863,
 5874,
 5886,
 5891,
 5897,
 5901,
 5910,
 5912,
 5917,
 5918,
 5926,
 5929,
 5930,
 5937,
 5938,
 5949,
 5950,
 5966,
 5971,
 5974,
 5976,
 5981,
 5992,
 5993,
 6007,
 6013,
 6014,
 6018,
 6019,
 6023,
 6031,
 6034,
 6047,
 6048,
 6050,
 6066,
 6071,
 6072,
 6083,
 6088,
 ...]

In [27]:
df_1.index[lt]

Int64Index([     6,     12,     22,     23,     34,     40,     63,     64,
                65,     80,
            ...
            176357, 176360, 176362, 176376, 176377, 176396, 176397, 176400,
            176424, 176428],
           dtype='int64', length=29190)

In [28]:
df_1.drop(df_1.index[lt], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147244 entries, 0 to 176433
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   role      147244 non-null  object
 1   text      147244 non-null  object
 2   Count_id  147244 non-null  int64
 3   Time      147244 non-null  int64
dtypes: int64(2), object(2)
memory usage: 5.6+ MB

In [29]:
df_1["role"].unique()

array(['agent', 'customer'], dtype=object)

In [30]:
df_1.replace(to_replace='agent', value='AGENT', inplace=True)
# df.replace(to_replace='END_USER', value='CUSTOMER', inplace=True)
df_1.head()

,role,text,Count_id,Time
0,AGENT,Hi!,0,5923342
1,AGENT,How can I help you?,0,1259546
2,customer,"Hi! I need to return an item, can you help me ...",0,3080029
3,AGENT,"sure, may I have your name please?",0,6838415
4,customer,Crystal Minh,0,3657843

In [31]:
df_1.replace(to_replace='customer', value='END_USER', inplace=True)

In [32]:
df_1.head()

,role,text,Count_id,Time
0,AGENT,Hi!,0,5923342
1,AGENT,How can I help you?,0,1259546
2,END_USER,"Hi! I need to return an item, can you help me ...",0,3080029
3,AGENT,"sure, may I have your name please?",0,6838415
4,END_USER,Crystal Minh,0,3657843

In [33]:
df_1['Count_id'].nunique()

8034

In [34]:
df_1['role'].nunique()

2

### DATA CLEANING

### 1: Clip_data

In [35]:
def clip_data(df):
    return df.iloc[1:-1] 
final = df_1.groupby(["Count_id"], group_keys=False).apply(clip_data)

In [36]:
final.shape # shape of  clipped df

(131176, 4)

In [37]:
df_1.shape #raw data

(147244, 4)

### 2: Remove custom dlp_tokens

In [38]:
def remove_custom_dlp_tokens(text):
    # print("[INFO] RAW text ",text)
    # print("[INFO] list text ",text.split())
    text=str(text)
    clean=[word for word in text.split() if word[0]!="[" and word[-1]!="]"]
    output=" ".join(clean)
    # print("[INFO] output text ",output)
    return output

In [39]:
final["clean_text"] = final["text"].apply(lambda x:remove_custom_dlp_tokens(x)) 
final["transcript"] = final["text"].apply(lambda x:remove_custom_dlp_tokens(x))

In [40]:
final["clean_text"] = final["text"].apply(lambda x:re.sub("[\[].*?[\]]","",x)) 
final["transcript"] = final["text"].apply(lambda x:re.sub("[\[].*?[\]]","",x))

In [41]:
final.shape #print(re.sub("[\[].*?[\]]", "9", txt))

(131176, 6)

In [42]:
final

,role,text,Count_id,Time,clean_text,transcript
1,AGENT,How can I help you?,0,1259546,How can I help you?,How can I help you?
2,END_USER,"Hi! I need to return an item, can you help me ...",0,3080029,"Hi! I need to return an item, can you help me ...","Hi! I need to return an item, can you help me ..."
3,AGENT,"sure, may I have your name please?",0,6838415,"sure, may I have your name please?","sure, may I have your name please?"
4,END_USER,Crystal Minh,0,3657843,Crystal Minh,Crystal Minh
5,AGENT,"thanks, may I ask the reason for the return?",0,6986547,"thanks, may I ask the reason for the return?","thanks, may I ask the reason for the return?"
...,...,...,...,...,...,...
176427,AGENT,should be in your browser settings under more ...,8033,4775058,should be in your browser settings under more ...,should be in your browser settings under more ...
176429,END_USER,Ok that seemed to be the problem,8033,2279285,Ok that seemed to be the problem,Ok that seemed to be the problem
176430,END_USER,Thank you,8033,3615355,Thank you,Thank you
176431,AGENT,is there anything else i can help with today,8033,5132691,is there anything else i can help with today,is there anything else i can help with today
176432,END_USER,that is all,8033,2168159,that is all,that is all

### 3: Remove holding msgs

### ONe time for holding
# holding_df=pd.read_csv('utility/holding_msg.csv')
# holding_df["clean_text"] = holding_df["orignal_holding_msg"].apply(lambda x:remove_custom_dlp_tokens(x)) 
# holding_df.head(1)
# holding_df.to_csv("utility/holding_msg.csv",index=False)

In [43]:
holding_df=pd.read_csv('utility/holding_msg.csv')
# holding_df.head()
final=final.loc[~final.clean_text.isin(holding_df.clean_text)].reset_index(drop=True)
final=final.loc[~final.transcript.isin(holding_df.orignal_holding_msg)].reset_index(drop=True)

del holding_df
final.shape

(131175, 6)

In [44]:
# final.loc[final.clean_text.isin(holding_df.clean_text)]['clean_text'].value_counts()  test

#### 4: Remove additional  small talks

### ONe time for holding
cust_small_talk_df=pd.read_csv('utility/custom_small_talks.csv')
cust_small_talk_df["clean_text"] = cust_small_talk_df["phrases"].apply(lambda x:remove_custom_dlp_tokens(x)) 
cust_small_talk_df.head(1)
cust_small_talk_df.to_csv("utility/custom_small_talks.csv",index=False)

In [45]:
cust_small_talk_df=pd.read_csv('utility/custom_small_talks.csv')
# cust_small_talk_df.head()
final=final.loc[~final.clean_text.isin(cust_small_talk_df.clean_text)].reset_index(drop=True)
final=final.loc[~final.transcript.isin(cust_small_talk_df.phrases)].reset_index(drop=True)

del cust_small_talk_df
final.shape

(130929, 6)

In [46]:
df.shape

(8034, 4)

In [47]:
final.head()

,role,text,Count_id,Time,clean_text,transcript
0,AGENT,How can I help you?,0,1259546,How can I help you?,How can I help you?
1,END_USER,"Hi! I need to return an item, can you help me ...",0,3080029,"Hi! I need to return an item, can you help me ...","Hi! I need to return an item, can you help me ..."
2,AGENT,"sure, may I have your name please?",0,6838415,"sure, may I have your name please?","sure, may I have your name please?"
3,END_USER,Crystal Minh,0,3657843,Crystal Minh,Crystal Minh
4,AGENT,"thanks, may I ask the reason for the return?",0,6986547,"thanks, may I ask the reason for the return?","thanks, may I ask the reason for the return?"

#### 5: Remove additional  small talks by length [Optional]

In [48]:
final["count_words"] = final["clean_text"].apply(lambda x:len(str(x).split()) )

In [49]:
#  final[final["count_words"]<5]["sntnce"].unique() #test

In [50]:
threshold=15
final=final[final["count_words"]>threshold]
final=final.drop(['count_words'],axis=1)
final.reset_index(inplace = True)
final.head()

,index,role,text,Count_id,Time,clean_text,transcript
0,14,AGENT,"ok, unfortunately because it has been more tha...",0,2270422,"ok, unfortunately because it has been more tha...","ok, unfortunately because it has been more tha..."
1,21,AGENT,"OK, I have let my manager know, they will give...",0,2976195,"OK, I have let my manager know, they will give...","OK, I have let my manager know, they will give..."
2,35,AGENT,It is currently in progress and the payment me...,1,6810274,It is currently in progress and the payment me...,It is currently in progress and the payment me...
3,57,END_USER,"Hello, I would like to change my shipping deat...",3,6532489,"Hello, I would like to change my shipping deat...","Hello, I would like to change my shipping deat..."
4,74,END_USER,Hello. I have a really cool party coming up. A...,4,3519225,Hello. I have a really cool party coming up. A...,Hello. I have a really cool party coming up. A...

In [51]:
df_1.head()

,role,text,Count_id,Time
0,AGENT,Hi!,0,5923342
1,AGENT,How can I help you?,0,1259546
2,END_USER,"Hi! I need to return an item, can you help me ...",0,3080029
3,AGENT,"sure, may I have your name please?",0,6838415
4,END_USER,Crystal Minh,0,3657843

In [52]:
final.shape

(17543, 7)

In [53]:
df_1.shape

(147244, 4)

In [54]:
final["transcript"]

0        ok, unfortunately because it has been more tha...
1        OK, I have let my manager know, they will give...
2        It is currently in progress and the payment me...
3        Hello, I would like to change my shipping deat...
4        Hello. I have a really cool party coming up. A...
                               ...
17538    How often should I wash them.  I do like doing...
17539    However if you are heavy duty user or play spo...
17540    Hello, Every time I go to search on the websit...
17541    i understand you are having issues with our si...
17542    first, try logging in and out of your account,...
Name: transcript, Length: 17543, dtype: object

In [55]:
final["clean_text"]

0        ok, unfortunately because it has been more tha...
1        OK, I have let my manager know, they will give...
2        It is currently in progress and the payment me...
3        Hello, I would like to change my shipping deat...
4        Hello. I have a really cool party coming up. A...
                               ...
17538    How often should I wash them.  I do like doing...
17539    However if you are heavy duty user or play spo...
17540    Hello, Every time I go to search on the websit...
17541    i understand you are having issues with our si...
17542    first, try logging in and out of your account,...
Name: clean_text, Length: 17543, dtype: object

In [56]:
final

,index,role,text,Count_id,Time,clean_text,transcript
0,14,AGENT,"ok, unfortunately because it has been more tha...",0,2270422,"ok, unfortunately because it has been more tha...","ok, unfortunately because it has been more tha..."
1,21,AGENT,"OK, I have let my manager know, they will give...",0,2976195,"OK, I have let my manager know, they will give...","OK, I have let my manager know, they will give..."
2,35,AGENT,It is currently in progress and the payment me...,1,6810274,It is currently in progress and the payment me...,It is currently in progress and the payment me...
3,57,END_USER,"Hello, I would like to change my shipping deat...",3,6532489,"Hello, I would like to change my shipping deat...","Hello, I would like to change my shipping deat..."
4,74,END_USER,Hello. I have a really cool party coming up. A...,4,3519225,Hello. I have a really cool party coming up. A...,Hello. I have a really cool party coming up. A...
...,...,...,...,...,...,...,...
17538,130881,END_USER,How often should I wash them. I do like doing...,8031,4368986,How often should I wash them. I do like doing...,How often should I wash them. I do like doing...
17539,130884,AGENT,However if you are heavy duty user or play spo...,8031,4062570,However if you are heavy duty user or play spo...,However if you are heavy duty user or play spo...
17540,130915,END_USER,"Hello, Every time I go to search on the websit...",8033,1443527,"Hello, Every time I go to search on the websit...","Hello, Every time I go to search on the websit..."
17541,130916,AGENT,i understand you are having issues with our si...,8033,6205350,i understand you are having issues with our si...,i understand you are having issues with our si...
17542,130921,AGENT,"first, try logging in and out of your account,...",8033,2476343,"first, try logging in and out of your account,...","first, try logging in and out of your account,..."

In [57]:
#final[final['call_convrstn_id']=='AB00FA080023000861F04F42'] ["clean_text"]

##### write preprocessed df [Optional]

In [58]:
# final.to_csv("data/call_10_convrstn_id_example_cleaned.csv",index=False) #shweta to verify

### Convert DF to JSON

In [59]:


def df_to_json(df):

    """
    function to convert dataframe to json format for gtm

    Args:
        df: input dataframe for converting to json format

    return:
        None
    """

    # convert speaker keys and add user id column
    df["user_id"] = df["role"].map({"AGENT": 1, "END_USER": 2})

    # get all session ids
    all_sid = df["Count_id"].unique()

    with tqdm(total=len(all_sid)) as pbar:

        # itterate on all session id
        for sid in all_sid:

            # create subset df for each session id
            sub_df = df[df["Count_id"] == sid].reset_index(drop=True)

            session_json = dict()
            session_json["entries"] = []

            for idx, i in sub_df.iterrows():
                row = dict()
                row["start_timestamp_usec"] = i["Time"]
                row["text"] = i["text"]
                row["role"] = i["role"]
                row["user_id"] = i["user_id"]
                session_json["entries"].append(row)

            # write json to local path
            json_object = json.dumps(session_json, indent=4)
            with open("Data/NEW/INPUT_JSON/train_clean/{}.json".format(sid), "w") as outfile:
                outfile.write(json_object)
            pbar.update(1)

    print("[INFO] GCS dataframe to Json Done...")

In [60]:
final.shape

(17543, 7)

In [61]:
final.tail()

,index,role,text,Count_id,Time,clean_text,transcript
17538,130881,END_USER,How often should I wash them. I do like doing...,8031,4368986,How often should I wash them. I do like doing...,How often should I wash them. I do like doing...
17539,130884,AGENT,However if you are heavy duty user or play spo...,8031,4062570,However if you are heavy duty user or play spo...,However if you are heavy duty user or play spo...
17540,130915,END_USER,"Hello, Every time I go to search on the websit...",8033,1443527,"Hello, Every time I go to search on the websit...","Hello, Every time I go to search on the websit..."
17541,130916,AGENT,i understand you are having issues with our si...,8033,6205350,i understand you are having issues with our si...,i understand you are having issues with our si...
17542,130921,AGENT,"first, try logging in and out of your account,...",8033,2476343,"first, try logging in and out of your account,...","first, try logging in and out of your account,..."

In [62]:
df_to_json(final)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7035/7035 [00:06<00:00, 1131.19it/s]

[INFO] GCS dataframe to Json Done...

### Upload to GCS

#### No  Access provided

### Create  conversation object

#### No Access provided

### Anlysis api call map cid with oid

#### No Access provided

def upload_gcs(self, bucket_name, local_path, prefix):
       
        """Uploads a file to the bucket."""

        # get total length of files
        print("[INFO] Total Files To Upload: ", len(glob.glob(local_path + '/**')))
        for local_file in glob.glob(local_path + '/**'):
            if not os.path.isfile(local_file):
                continue

            # get only file name        
            remote_path =  local_file.split("/")[-1]
            source_file_name = remote_path

            # create a path to upload on gcs
            destination_blob_name = prefix + remote_path

            # authentication
            storage_client = storage.Client()
            bucket = storage_client.bucket(bucket_name)
            blob = bucket.blob(destination_blob_name)

            # upload to gcs
            blob.upload_from_filename(local_file)
           
            # delete from local
            os.remove(local_file)
            print("[INFO] File {} uploaded to {}. and deleted from local".format(source_file_name, destination_blob_name))

        print("[INFO] All Files Uploaded to GCS...")



def df_to_json(df):

    """
    function to convert dataframe to json format for gtm

    Args:
        df: input dataframe for converting to json format

    return:
        None
    """

    # convert speaker keys and add user id column
    df["user_id"] = df["sntnce_partcpnt_role"].map({"HUMAN_AGENT": 1, "END_USER": 2})

    # get all session ids
    all_sid = df["call_convrstn_id"].unique()

    with tqdm(total=len(all_sid)) as pbar:

        # itterate on all session id
        for sid in all_sid:

            # create subset df for each session id
            sub_df = df[df["call_convrstn_id"] == sid].reset_index(drop=True)

            session_json = dict()
            session_json["entries"] = []

            for idx, i in sub_df.iterrows():
                row = dict()
                row["start_timestamp_usec"] = i["sntnce_start_offset_nnsec_qty"]
                row["text"] = i["sntnce"]
                row["role"] = i["sntnce_partcpnt_role"]
                row["user_id"] = i["user_id"]
                session_json["entries"].append(row)

            # write json to local path
            json_object = json.dumps(session_json, indent=4)
            with open("DATA/INPUT_JSON_test/{}.json".format(sid), "w") as outfile:
                outfile.write(json_object)
            pbar.update(1)

    print("[INFO] GCS dataframe to Json Done...")